<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container">
    <span class="navbar-brand mb-0 h1">{{title}}</span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#top">Top</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-contact" href="#contact">CONTACT ME</a>
        </li>
      </ul>
    </div>  

  </div>
</nav>

<section id="top" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="section-title text-white">Hi!<br> <i class="fas fa-snowboarding"></i> <br>I'm a Full-Stack Web Developer based in Porto Alegre.</h1>
      </div>
    </div>
  </div>
</section>


<section id="projects" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="section-title">Some things I've worked on</h1>
      </div>

      <div class="card-deck">

        <div class="card">
          <a href="https://github.com/rodrigorichter/steamblower" target="_blank">
            <img class="card-img-top" src="https://rodrigorichter.github.io/img/portfolio/steamblower.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Steamblower</h5>
              <p class="card-text">A web application that scrapes your steam profile and hands it to you all your public screenshots, so you can batch download them with an extension/download manager.</p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="https://bateuabad.herokuapp.com" target="_blank">
            <img class="card-img-top" src="https://rodrigorichter.github.io/img/portfolio/bateuabad.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bateuabad</h5>
              <p class="card-text">An anonymous platform for college students to talk about mental health, released on 2016.</p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="https://rodrigorichter.itch.io/overmatter" target="_blank">
            <img class="card-img-top" src="https://rodrigorichter.github.io/img/portfolio/overmatter.gif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Overmatter</h5>
              <p class="card-text">A 2D puzzle game built on Unity. Solve reality-bending puzzles to save the lab, and yourself.</p>
            </div>
          </a>
        </div>
      </div>



    </div>
  </div>
</section>


<section id="contact" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="section-title text-white">Reach me at</h1>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <a href="https://www.linkedin.com/in/rodrigorichter" target="_blank" class="fab fa-linkedin"></a>
        <a href="http://instagram.com/guigorichter" target="_blank" class="fab fa-instagram"></a>
        <a href="http://github.com/rodrigorichter" target="_blank" class="fab fa-github"></a>
      </div>
    </div>
  </div>
</section>
